
     {%extends 'base.html'%}
     {%block content%}
{%load static%}
      <section>
         <div class="banner-main">
            <img src="{%static 'images/banner.jpg'%}" alt="#"/>
            <div class="container">
               <div class="text-bg">
                  <h1>BEST Tour<br><strong class="white">Aswan &Luxor Tours</strong></h1>
                  <div class="button_section"> <a class="main_bt" href="#">Read More</a>  </div>
                  <!-- Search section  -->


                        </div>
                  </div>
               </div>

      </section>











 <!-- our tour -->
      <div id="blog" class="blog">
         <div class="container">
            <div class="row">

               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Our Tours</h2>
                     <span>Lorem Ipsum is that it has a more-or-less normal distribution of letters,</span>
                  </div>
               </div>
            </div>
            <div class="row">
                {%for tour in tour%} <!-- start loop -->
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="blog-box">
                     <figure><img src="{{tour.images.url}}" alt="#"/>
                        <span>{{tour.price}} USD per person</span>
                     </figure>

                     <div class="travel">
                        <span>Post  By :  Aswan Tour</span>

                     </div>
                     <li><a href="{{tour.get_url}}"> <h3>{{tour.tour_name}}</h3></a></li>

                     <p>{{tour.description}}</p>

                  </div>

               </div>
            {%endfor%}
            </div>

         </div>

      </div>
      <!-- end our tour -->













      <!--London -->
      <div class="London">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Weekend in New York, London</h2>
                     <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</span>
                  </div>
               </div>
            </div>
         </div>
         <div class="container-fluid">
            <div class="London-img">
               <figure><img src="images/London.jpg" alt="img"/></figure>
            </div>
         </div>
      </div>
      <!-- end London -->






      <!--Tours -->
      <div class="Tours">
         <div class="container">
            <div class="row">

               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>The Best Tours</h2>
                     <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</span>
                  </div>
               </div>
            </div>
            <section id="demos">
               <div class="row">

                  <div class="col-md-12">
                     <div class="owl-carousel owl-theme">
                        <div class="item">
                           <img class="img-responsive" src="images/1.jpg" alt="#" />
                           <h3>Holiday Tour</h3>
                           <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in soe suffk even slightly believable. If y be sure there</p>
                        </div>
                        <div class="item">
                           <img class="img-responsive" src="images/2.jpg" alt="#" />
                           <h3>New York</h3>
                           <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in soe suffk even slightly believable. If y be sure there</p>
                        </div>
                        <div class="item">
                           <img class="img-responsive" src="images/3.jpg" alt="#" />
                           <h3>London</h3>
                           <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in soe suffk even slightly believable. If y be sure there</p>
                        </div>
                        <div class="item">
                           <img class="img-responsive" src="images/2.jpg" alt="#" />
                           <h3>Holiday Tour</h3>
                           <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in soe suffk even slightly believable. If y be sure there</p>
                        </div>

                     </div>
                  </div>

               </div>
            </section>
         </div>
      </div>
      <!-- end Tours -->



      <!-- Amazing -->
      <div class="amazing">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="amazing-box">
                     <h2>Amazing London Tour</h2>
                     <span>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there</span>
                     <a href="#">Book Now</a><a href="#">Get More</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Amazing -->

<!-- traveling -->
      <div id="travel" class="traveling">
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="titlepage">
                     <h2>Select Offers For Traveling</h2>
                     <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</span>
                  </div>
               </div>
            </div>
            <div class="row">

               {%for category in links %}
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="traveling-box">

                     <i><img src="" alt="icon"/></i>
                     <h3>{{category.category_name}}</h3>
                     <p> going to use a passage of Lorem Ipsum, you need to be </p>
                     <div class="read-more">
                        <a  href="{{category.get_url}}">Show More</a>
                     </div>

                  </div>

               </div>
               {%endfor%}
            </div>
         </div>
      </div>

      <!-- end traveling -->







      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript -->
      <script src="js/owl.carousel.js"></script>
      <script>
         $(document).ready(function() {
           var owl = $('.owl-carousel');
           owl.owlCarousel({
             margin: 10,
             nav: true,
             loop: true,
             responsive: {
               0: {
                 items: 1
               },
               600: {
                 items: 2
               },
               1000: {
                 items: 3
               }
             }
           })
         })
      </script>

   </body>
</html>
     {% endblock %}